<section class="row justify-content-center">
  <div class="col-lg-9">
    <div class="mb-4">
      <h1 class="h2 fw-bold mb-1"><%= t(".title") %></h1>
      <p class="text-secondary mb-0"><%= t(".description") %></p>
    </div>

    <%= render "form", attendance_list: @attendance_list %>
  </div>
</section>
